.searchbyJob {

    display: flex;
    gap: 20px;
    padding-top: 50px;


}

.searchbyButton {

    width: 140px;
    height: 40px;
    border: none;
    background-color:#0E9DDF;
   
}

.headerillustrationdev {

   position: absolute;
   top: -65px;
   right: -25px;
   z-index: 1;
   height:590px;
   width: 770px;

}

#headerillustraition {

    height: 75vh;

}

.jobChoiceSimple {

    text-align: center;


}

.jobChoiceSimple h2 {

    font-size: 2.8rem;
    font-weight: bold;


}

.jobChoiceSimple p {


    color: #9899A4;

}

.filterjob {

    display: flex;
    border: 1px solid #9899a441;
    border-radius: 7px;
    height: 40px;
    padding: 10px;
    gap: 5px;
    background-color: #FFFFFF;
    transform: translate3d(0,15px,0);
    cursor: pointer;

}

.filter {

    font-size: 0.9rem;

}

.filtertagsjobs {

    display: flex;
    justify-content: space-between;
    padding-left: 170px;
    padding-right: 180px;
    padding-top: 40px;

}

.manyJob {

    padding-left: 170px;
    padding-right: 180px;
    position: relative;

}

.detailjob span {

    display: block;


}

.detailjob {

    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;

}

.categorieDetailjob span {

    display: block;
    font-size: 0.9rem;
    font-weight: bold;

}



.intituleJob {

    font-size: 00.9rem;
    transform: translate3d(0,-10px,0);
    display:block;

}

.categorieDetailjob {

    display: flex;
    justify-content: space-between;
    color: #0E9DDF;

}

.jobLocationRemote span {

    display: block;
    font-size: 00.9rem;
    color: #70798D;
    transform: translate3d(0,3px,0);

}

.closeFilter {

    height: 15px;
    width: 15px;
    cursor: pointer;

}

.jobLocationRemote {

    display: flex;
    align-items: center;
    gap: 7px;

}

.parameterJob {

    display: flex;
    gap: 20px;

}

.jobInformation {

    border: 1px solid #868e9f35;
    padding: 17px;
    border-radius: 7px;
    background-color: #FFFFFF;

}

.categoirie {

    font-size: 0.9rem;
    font-weight: bold;

}

.jobinformationFlex {

    display: flex;
    flex-direction: column;
    gap: 20px;

}

.filterheader {

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.filterheader h5 {

    font-weight: bold;
    font-size: 0.95rem;

}



.keyWordsearch span {

    display: block;
    color: #70798D;
    font-size: 0.8rem;
    

}

.key {

    border-bottom: 2px solid #0EA0E4;
    padding-bottom: 3px;
    text-align: center;
    color: #0EA0E4;
    font-size: 0.8rem;
    font-weight: bold;

}

.keyWordsearch {

    display: flex;
    align-items: center;
    border: 1px solid #8a8c8d23;
    background-color: #FFFFFF;
    border-radius: 7px;
    justify-content: space-between;
    padding: 7px;


}

.keyFilter {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:20px ;
    /* flex-direction: column; */

}

.btnFilterReset {

    height: 37px;
    border: 1px solid #0EA0E4;
    text-align: center;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 7px;
    color: #0EA0E4;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9rem;
    

}

.btnFilterApply {

    height: 37px;
    border: none;
    text-align: center;
    width: 100%;
    background-color: #0EA0E4;
    border-radius: 7px;
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer; 
    font-size: 0.9rem;  

}

.btnOptionfilter {

    display: flex;
    gap: 10px;
    width: 370px;
    padding-top: 20px;
    transform: translate3d(190px,0,0);


}

#plusFilters {

    background-color:#FFFFFF;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
    width: 780px;
    height: 200px;
    border-radius: 7px;
    position: absolute;
    z-index: 2;
    right: 177px;
    top: 0;
    box-shadow: 10px 10px 5px #00000006;
    

}
