/********Mobile home page********/

@media screen and (max-width:767px) {




.imgHeader {

    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

}

#navvv {

    flex-direction: column;
    align-items: center;
    width: 100%;


}


#Footer {

    flex-direction: column;
    gap: 20px;

}

.about {

    width: 100%;
    
}


.weShirng {

    right: 0;
    top: 80px;;
    left: 77px;

}

.copyright {

    flex-wrap: wrap;

}

.copyright p {

    font-size: 0.8rem;

}

.cardProfil {

    width: 90%;
    left: 5%;
    top: 10%;

}

.card-body h5 {

    font-size: 0.9rem;
 
}

.card-header {

   
    font-size: 0.7rem;

}

.cardInfo div svg {

   
    width: 15px;

}

.cardInfo {

    gap: 0;
    justify-content: space-between;

}

.infoCard {

    transform: translate3d(0px,0px,0);
    font-size: 0.9rem;


}

.iconInfoCard {

    display: flex;
    gap: 5px;

}

.interompu {

    display: none;

}

#cardProifl2 {

    display: none;

}

.titleJobatHome {

    right: 0 ;
    left: 0 ;
    width: 100%;
    padding-top: 100px;
    text-align: center;

}

.titleJobatHome h1 {

    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
    


}
.otherTitle {

    font-size: 1.7rem;
    transform: translate3d(0px,-10px,0);
    width: 100%;
    text-align: center;
}

.subTitle {

    width: 90%;
    text-align: center;
    transform: translate3d(53px,100px,0);
    font-size: 0.9rem;

}

#btnFlex {

   
    flex-direction: column;
    position: absolute;
    transform: translate3d(0px,80px,0);
    width: 93%;
    align-items: center;


}

.escalier {

    bottom: 0; 
    transform: translate3d(0,290px,0);
}

.cardExperience {
  
    right: 11%;
    top: 80%;
    z-index: 5;

}

.doublePointWave {

    bottom: 0%;
    left: 0%;
    transform: translate3d(0,180px,0);

}

#cardExperience2 {

    display: none;

}

.escalier2 {

    display: none;

}


.differenceToAnotherpeopleTitle {

    font-size: 1.5rem;
    padding-bottom: 15px;
    padding-top: 15px;

}

.digitalWorld {

    width: 100%;
    position:initial ;
    left: 0px;
    text-align:center;
    color: #9FA0AB;

}

.entreprise {

    position: initial ;
    top: 0px ;
    padding-top: 15px;

}

.blueRectangle {

    transform: translate3d(250px,60px,0);

    

}

.differenceToAnotherpeople {

    padding-top: 200px;

}

#stepSelectionJobathome {

    
    display: grid ;
    grid-template-columns: 1fr;


}

.selectionTitle {

    
    font-size: 1.6rem ;
    width: 100% ;
    position: initial ;

}

.remoteText {

    position:initial  ;
    text-align: center ;
    width: 100% ;
    display: block;

}

#girlRemote {

    flex-wrap: wrap;

}


#girlRemote img {

    width: 100%;
    height: 200px;

}

.cardGirlRemote {

    flex-direction: row ;
    gap: 40px ;
    padding-top: 150px;

}

#expertReact {

    width: 125px;
    height: 55px;
    padding-left: 10px;
    padding-top: 15px;
    transform: translate3d(5px,-810px,0) ;

}

#expertReact img {

    height: 25px;
    width: 25px;
    object-fit: cover;

}

#expertReact div span {
    
    font-size: 0.7rem;
    transform: translate3d(0,-4px,0);

}

#expertParent {

    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 0px ;
    position: relative;
    box-shadow: 10px  5px 5px #0111181e;
    width: 120px;
    height: 80px;
    transform: translate3d(0px,0px,0) ;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 13%;
}

#expertReactHtml img {

    height: 25px;
    width: 25px;
    object-fit: cover;

}

#expertReactHtml div span {
    
    font-size: 0.7rem;
    transform: translate3d(0,-4px,0);

}

.expertHtml img {

    height: 25px;
    width: 25px;
    object-fit: cover;

}


.expertHtml div span {

    font-size: 0.7rem;
    transform: translate3d(0,-4px,0);

}

.expertHtml {

    padding-top: 7px;

}

#expertReactHtml {

    gap: 10px;
    padding-left: 25px;
    padding-top: 8px;
    
}

.middleexpert {

    left: 38px;
    top: 32px;
    height: 17px;

}

.virgule {

    transform: translate3d(0px,0px,0) ;
    width: 100px;
    position: absolute;
    bottom: 11%;

}

.cardGirlRemote {

    display: flex;
    flex-direction: column;
    gap: 20px;
    
}


.btnColor {

    font-size: 1rem;
}

.btnexpert {

    font-size: 1rem;  

}

.cardexpertText {

    font-size: 1rem;

}

.devSection {

    padding-top: 300px ;


}

.expertiseProposé {


    font-size: 2.2rem ;
    

}
.domaine {

   
    font-size: 1.2rem ;
   

}

.equipe {

    font-size: 1rem ;
    

}


#cardCarousel {

    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;


}

.laguageProgramation {

    bottom: 5%;

}

.circleAndSemiCircle {

    display: none;

}

.fleur {

    display: none;

}

.circleOrange {

    display: none;

}

#accessProfil h2 {

    font-size: 1.4rem ;

}

#accessProfil {

    height: 200px;

}

#accessProfil span {

    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.4rem ;
    transform: translate3d(0,-30px,0) ;

}

#accessProfil {

    display: flex;
    flex-direction: column;
    align-items: center;
    

}

#bntDecouverte {
  
    position: initial;
    transform: translate3d(0,-8px,0);

}

#amExpert {

    flex-direction: column;
    gap: 0px;
    height: 100% ;
    width: 90%;
    right: 15px;
   
}

.recruteur {

    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.recruteur h3 {

    font-size: 1.3rem ;

}

.recruteur p {

    font-size: 0.7rem ;

}

.carrerGrille {

    width: 50px;
    top: 0 ;
    left: 30px ;


}

.wavePoint {

    display: none;

}

.waveClaire {

    display: none;

}

#bntBesoin {

    width: 200px;
    position: initial;

}

#FAQs {

    display: flex;
    flex-direction: column; 
    width: 100%;

}

.FAQ {

    
    width:100%;
    

}

.faqTitle {

    font-size: 2rem;

}

.faqs span {

    font-size: 1rem;
    width: 93%;
    text-align: center;


}

.question {

    width: 100%;

}

.msg {

    width: 140px;
    transform: translate3d(40px,0,0);

}

.aQuestion {

    font-size: 1.1rem;
   
}

.anothercountry {

    font-size: 1.1rem;
   
}



















}