#DescriptionTop5 {

    padding-bottom: 100px;

}

#recruteurHeader {

    height: 90vh;

}

.expertiseCircle {

    display: block;
    height: 17px;
    width: 17px;
    background-color: #0EA0E4;
    border-radius: 50%;
    transform: translate3d(1px,1px,0);

}

.expertiseCircleDetails {

    display: block;
    height: 17px;
    width: 17px;
    background-color: #0EA0E4;
    border-radius: 50%;
    transform: translate3d(1px,5px,0);


}

.detailsSimpleCircle {

    display: block;
    height: 20px;
    width: 21px;
    border: 1px solid #0EA0E4;
    border-radius: 50%;
    transform: translate3d(15px,3px,0);


}

.expertiseSimpleCircle {

    display: block;
    height: 20px;
    width: 21px;
    border: 1px solid #0EA0E4;
    border-radius: 50%;
    transform: translate3d(15px,0,0);

}

#expertCirclePast {

    transform: translate3d(23px,5px,0);


}

#ExpertiseCircle {

    background-color: #DFDFDF;
    transform: translate3d(15px,0px,0);
    
}

#ExpertiseCircledetailtop3 {

    background-color: #DFDFDF;
    transform: translate3d(14px,5px,0);


}

#ExpertiseCircletop3Vald {

    background-color: #DFDFDF;
    transform: translate3d(13px,4px,0);

}

#ExpertiseCircleVald {

    background-color: #DFDFDF;
    transform: translate3d(15px,0px,0);
    

}

#ExpertiseCirclestepdetails {

    background-color: #DFDFDF;
    transform: translate3d(15px,5px,0);


}

#ExpertiseCircleValidation {

    background-color: #DFDFDF;
    transform: translate3d(15px,4px,0);
    background-color: #0EA0E4;
    
}

.FlexStep {

    display: flex;
    gap: 63px;
    position: relative;


}

.FlexStep label {

    font-size: 0.8rem;

}

.step {

    transform: translate3d(0,4px,0);
    color: #8A8C8D;

}

.stepdetailsdetail {

    transform: translate3d(0,4px,0);
    color: #000000;

}



.stepValidation {

    transform: translate3d(0,7px,0);
    color: #8A8C8D;


}

.stepExpertisetop3 {

    transform: translate3d(0,5px,0);
    color: #8A8C8D;

}

.stepExpertisevalidation {

    transform: translate3d(0,6px,0);
    color: #8A8C8D;


}

.stepValidationsdetails {

    transform: translate3d(0,7px,0);
    color: #8A8C8D;

}

.stepExpertise {

    transform: translate3d(0,5px,0);

}

.ligneStep {


    height: 2px;
    width: 320px;
    background-color: #DFDFDF;
    position: absolute;
    top: 9px;
    left: 36px;

}

.ligneStepDetails {


    height: 2px;
    width: 320px;
    background-color: #DFDFDF;
    position: absolute;
    top: 13px;
    left: 36px;

}
.pdf span {

    display: block;

}

.pdf {

    display: flex;
    flex-direction: column;


}

.pdfloading {

    /* background-color: red; */
    width: 85%;


}

.lignedownloadpdf {

    height: 7px;
    background-color:#0EA0E4;
    width: 100%;
    border-radius: 10px;


}

.loading span {

    display: block;

}

.loading {

    display: flex;
    gap: 5px;

}

.fichePost {

    display: flex;
    gap: 15px;
    border: 1px solid #0EA0E4;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding:10px ;
    position: relative;

}

.seizeLabel {

    font-size: 0.8rem;
    font-weight: bold;

}

.seizeInput {

    height: 90px;
    border-radius: 5px;

}

.seizeInput::placeholder {

    transform: translate3d(0,-20px,0);

    /* background-color: red; */

}

.btnPrevStep {

    height: 40px;
    text-align: center;
    border: 1px solid #8a8c8d20;
    background-color: #FBFBFB;
    padding-top: 9px;
    color: #0EA0E4;
    border-radius: 7px;

}

.btnNextStep {

    height: 40px;
    text-align: center;
    background-color: #0EA0E4;
    padding-top: 9px;
    color: #FFFFFF;
    border-radius: 7px;


}

.countryNumber {

    display: flex;

}

.valideRequest {

    text-align: center;
    padding-top: 70px;
   
}

.valideRequest img {

    width: 220px;

}

.receiveRequest {

    background-color: #F9FAFB;
    text-align: center;
    color: #59BE51;
    padding-top: 35px;
    position: relative;
    height: 135px;
    width: 380px;

}

.callAfter {

    background-color: #F9FAFB;
    text-align: center;
    padding-top: 35px;
    position: relative;
    height: 85px;
    width: 380px;


}

.lastInformation {

    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    transform: translate3d(230px,0,0);
    width: 380px;


}

.receiveRequest p {

    font-size: 1.1rem;


}

.iconReceive {

    position: absolute;
    top: -25px;
    left: 150px;
    height: 45px;
    width: 45px;


}

.countryNumber input {

        border-top-left-radius: none;
        border-bottom-left-radius: none;
        border-left: none;

}

.Anything {

    font-size: 0.9rem;

}

.countryNumberselected {

    border: none;
    width: 17%;
    display: flex;
    height: 40px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFFFFF;
    border-top: 1px solid #8a8c8d14 ;
    border-bottom: 1px solid #8a8c8d14 ;
    border-left:1px solid #8a8c8d14  ;
    border-right: 1px solid transparent;
    
}

.choice {

    font-size: 00.8rem;
    font-weight: bold;


}

.choiceTime {

    display: flex;
    position: relative;
    background-color: #E6F5FD;
    border: 1px solid #0EA0E4;
    height: 40px;
    border-radius: 7px;
    justify-content: space-between;
    padding: 10px;

}

.seizeDateTime {

    font-size: 0.8rem;
    color: #8A8C8D;
    /* transform: translate3d(0,-5px,0); */
    display: block;

}

.noReferencetime {

    display: flex;

}

.momentDisponibility {

    display: grid;
   grid-template-columns: 1fr 1fr;
    gap: 15px;


}


.noReference {

    display: flex;
    position: relative;
    border: 1px solid #8a8c8d3b;
    height: 40px;
    border-radius: 7px;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFFFFF;


}

.seizeCalendar {

    height: 15px;


}

.chevrondownSelected {

    transform: translate3d(0,5px,0);

}

.countryNumber input {

    border-left: none;

}

.btnGrid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding-top: 30px;

}

.titlepdf {


    font-size: 0.7rem;
    font-weight: bold;

}

.importFiche {

    display: block;
    padding-bottom: 20px;
    font-size: 0.85rem;
    color: #8A8C8D;

}

.seizePdf {

    font-size: 0.7rem;
    color: #8A8C8D;
    padding-bottom: 7px;

}

.seizePourcentage {

    font-size: 00.8rem;
    font-weight: bold;
    transform: translate3d(0,-6px,0);

}

.completeDownload {

    position: absolute;
    right: 10px;

}



.ligneStepColor {

    height: 2px;
    background-color:#0EA0E4;
    width: 36%;


}


.ligneStepColorTop3 {

    height: 2px;
    background-color:#0EA0E4;
    width: 100%;


}

.ligneStepColorValidation {

    height: 2px;
    background-color:#0EA0E4;
    width: 68%;


}
.top3 {

    transform: translate3d(5px,2px,0);
    color: #8A8C8D;

}



.top3top3 {

    transform: translate3d(5px,2px,0);
   
}


#SearchArticleBar {

    width: 400px;
}

.tag span {

    display: block;


}

.tag {

    display: flex;
    gap: 12px;
    height: 40px;
    background-color: #CFEEFC;
    padding: 12px;
    color: #0EA0E4;
    font-size: 0.8rem;
    border-radius: 7px;
    align-items: center;
} 

.tags {

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 20px;
   

}

.top3picture {

    height: 175px;

}

.tagIcon {

    height: 10px;
    width: 10px;
    cursor: pointer;
}

#lookProfil {

    display: block;
    width: 100%;
    height: 45px;
    padding-top: 10px;
    width: 400px;

}

#gridRecruteur {

    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color:#F1FAFE;
    border-radius: 15px;
    padding: 35px;
    border: 1px solid #FFFFFF;

}

.whyExpert {

   
    width: 450px;
}

.colorDisponibility {

   
    height: 6px;
    width: 6px;
    background-color:#4CA37D ;
    border-radius: 50%;
   transform: translate3d(5px,5px,0);
    
}

.status span {

    display: block;

}

.status {

    display: flex;
    gap: 10px;
    position: relative;
    background-color: #ECFDF3;
    height: 20px;
    width: 82px;
    border-radius: 15px;
    color: #4CA37D;
    padding-top: 2px;

}

.disponibility {

    font-size: 0.7rem;

}

.cardtop3 span {

    display: block;

}

.cardtop3 {

    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding-top: 10px;

}

.iconWrap {

    transform: translate3d(0,-8px,0);

}

.LaguageProgramation {

   
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    gap: 5px;
    /* width: 51%; */
    color: #0EA0E4;
    padding-top: 3px;
    /* background-color: aquamarine; */

}

#BackgroundBorderlanguage {

    font-size: 0.7rem;
    font-weight: bold;
    height: 20px;


}

.keyCompétences {

    transform: translate3d(0,-10px,0);

}

.cardCompétence {

    padding: 13px;
    width: 100%;
    background-color: #F8FDFF;
    border-top-right-radius: 11px;
    border-bottom-right-radius:11px;
    border: 1px solid #FFFFFF;
    height: 175px;
}

.cardTop3 {

    display: flex;
    border-top-left-radius: 11px;
    border-bottom-left-radius:11px
}

.top3Flex {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    /* background-color: red; */
    /* flex-direction: column; */

}

.emailseize {

    font-size: 0.8rem;

}

