/***********Tablet homepage*********/


@media screen and (min-width:768px) and (max-width:1024px) {


#bloc_Page {

    /* background-color: blue; */
    /* width: 2000px; */
    /* max-width: 0; */
    /* margin: none; */
    /* padding-left: 10px; */
    /* background-color: violet; */


    


}

header {

    /* background-color: red; */
    /* width: 2000px; */
  
}

.imgHeader {

    /* background-color: blue; */
    flex-wrap: wrap-reverse;

}

#Footer {

    /* gap: 10px; */
    /* background-color: aquamarine; */
    flex-direction: column;
    gap: 20px;


}

.weShirng {

    right: 0;
    /* background-color: red; */
    top: 0;
    left: 77px;

}

.SemiWavePoint {

    transform: translate3d(3px,-49px,0);

}

.cardProfil {

    /* background-color: orange; */
    width: 35%;
    /* height: 350px; */

    left: 2% !important;


}

.cardProfil .card-header {

    /* background-color:green; */
    text-align: center;
    font-size: 1.1rem;

}

.infoCard {

    /* transform: translate3d(0px,0px,0px) !important; */
    /* font-size: 0.9rem; */


}

#cardProifl2 {

    top: 700px !important;
    /* background-color: yellow; */


}

.iconInfoCard {

    /* background-color: brown; */
    /* display: flex; */
    /* flex-wrap: wrap-reverse; */

}

.cardInfo {

    gap: 5px !important;
    /* background-color: aqua; */

}

.interompu {

    width: 30%;
    left: 38%!important;

}

.blueRectangle {

    transform: translate3d(238px,64px,0) !important;
    

}

.oraneRectangle {

    transform: translate3d(157px,66px,0) !important;

}

.blackRectangle {

    transform: translate3d(154px,89px,0) !important;

}

.titleJobatHome {

    width: 600px!important;
    right: 0 !important;
    top: 300px !important;
    left: 20% !important;
    /* background-color: aquamarine; */
    

}

.titleJobatHome h1 {

    font-size: 2.5rem !important;
    font-weight: bold;
    

}

.otherTitle {

    font-size: 2.5rem !important;
    font-weight: bold;
    transform: translate3d(-130px,-20px,0);
    /* background-color: green; */
    width: 600px;
}

.subTitle {

    /* background-color: rebeccapurple; */
    width: 730px !important;
    text-align: center;
    transform: translate3d(-100px,0px,0);
    font-size: 0.9rem;

}

#btnFlex  {

    /* background-color: yellow; */
    transform: translate3d(0px,40px,0) !important;

}

.escalier {

    top: 460px !important;

}

.escalier3 {

    left: 40% !important;
    display: none;

}

#cardExperience2 {

    /* background-color: yellow !important; */
    right: 2% !important;
    top: 695px !important;

}

.doublePointWave {

    left: 40% !important;
    bottom: 0 !important;


}

.escalier2 {

    display: none;

}

.differenceToAnotherpeopleTitle {

    font-size: 2rem !important;
    padding-top: 100px;

}

.digitalWorld {

    background-color: red;
    width: none !important;
    left: 0px !important;
    display: none !important;

}

















}