.dev5 {

    /* background-color: aqua; */
    position: relative;
    width: 100%;
    height: 555px;

}

.headerPosition {

    padding-left: 100px;
    padding-right: 50px;


}

#why5 {

    display: flex;

}

#why5 h1 {

    font-size: 3rem;


}

.girl {


    position: relative;

}

.girl5 {

    position: absolute;
    width: 382px;
    height: 507px;


}

.whyTop5 {

    width: 50%;

}

.girlParent {

    position: absolute;
    right: 0;
    top: 0;

}

.doubleWave {

    position: absolute;
    left: 325px;
    bottom: 0;

}

.developpeurFullstack {

    position: absolute;
    left: 155px;

}

.arow {

    position: absolute;
    left: 150px;
    bottom: 150px;

}

.cinqPourcent {

    color: #0EA0E4;
    font-weight: bold;

}

#btnFlexTop5 {

   display: flex; 
   padding-top: 100px;
   padding-bottom: 100px;
   gap: 15px;


}

.people {

    padding-bottom: 20px;

}

.arrowCircle {

    position: absolute;
    top: 155px;
    left: 420px;

}

.descriptionTop5 {

    color: #7D7E8B;

}


.countryRemote {

    display: flex;
    gap: 10px;
    padding-left: 20px;
    padding-top: 17px;
    width: 280px;
    height: 80px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;
    z-index: 1;
    transform: translate3d(0,10px,0);
}

.losange {

    height: 47px;
    width: 47px;

}

.preselection h2 {

    font-weight: bold;
    font-size: 3rem;
    text-align: center;
   

}



.preselection {

    /* background-color: red; */
    height: 250px;



}

#participe {

    text-align: center;
    background-color: #F3F7FA;
    height: 400px;
    width: 1100px;
    border-radius: 15px;
    position: relative;
    transform: translate3d(100px,0,0);

}

.participePosition {


    height: 90vh;

}

#participe span {

    /* background-color: red; */
    display: block;
    color: #7D7E8B;


}

#participe  h2 {

    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 15px;

}

#btnExpertDecouverte {

    width: 190px;
    color: #0EA0E4;
    background-color: #FFFFFF;
    border: 1px solid #F3F3F3;

}

#btnRecruteurDecouverte {

    width: 210px;


}

#btn2FlexTop5 {

    display: flex; 
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 20px;
    position: absolute;
    left: 310px;


}

.multipleCrois {

    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(75px,-20px,0);

}